---
http_interactions:
- request:
    method: get
    uri: https://pbs.puzzle.ch/groups/3/events/1257/participations.json?page=1&user_email=hussein_kohlmann@hitobito.example.com&user_token=Tu7aVJWyLYYMyCnZv2bz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ad2cc2456906dc5ecc761ffda04af7f"
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"total_pages":0,"next_page_link":null,"prev_page_link":null,"event_participations":[]}'
  recorded_at: Mon, 28 Dec 2020 14:43:48 GMT
recorded_with: VCR 6.0.0
