.h1 Bearbeiten

== render 'form'

=> link_to t('buttons.show'), @transport_location, class: 'btn btn-secondary'
'|
= link_to t('buttons.back'), admin_transport_locations_path, class: 'btn btn-secondary'
