javascript:
    var Orca = {
        locale: '#{I18n.locale}-CH',
        shortLocale: '#{I18n.locale[0..1]}',
        campStart: '#{Orca::CAMP_START.strftime("%Y-%m-%d %H:%M")}',
        campEnd: '#{Orca::CAMP_END.end_of_day.strftime("%Y-%m-%d %H:%M")}',
        i18n: {
            activityExecutionCalendar: #{(I18n.j('activity_execution_calendar'))}
        },
        manage_spot_link: '#{admin_spots_path}'
    };
