---
http_interactions:
- request:
    method: get
    uri: https://pbs.puzzle.ch/groups/749/events/1328/participations.json?page=1&user_email=hussein_kohlmann@hitobito.example.com&user_token=Tu7aVJWyLYYMyCnZv2bz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abd94c2fb8498c53fcd045651bb14443"
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"total_pages":1,"next_page_link":null,"prev_page_link":null,"event_participations":[{"id":"11986","type":"event_participations","first_name":"Andreas","last_name":null,"nickname":null,"company_name":"Gross","company":false,"email":null,"address":null,"zip_code":"3576","town":"Herisau","country":null,"gender":"m","birthday":"1990-05-29","picture":{"url":"/packs/media/images/profil-d4d04543c5d265981cecf6ce059f2c5d.png","thumb":{"url":"/packs/media/images/profil_thumb-20ef1de0fa7801546669f4df3411dc1b.png"}},"primary_group_id":56,"title":null,"salutation":null,"correspondence_language":null,"prefers_digital_correspondence":false,"kantonalverband_id":2,"roles":[{"type":"Event::Camp::Role::Participant","name":"Teilnehmer*in"}],"links":{"person":"1896","event_answers":["1313"]},"additional_information":"","active":true,"qualified":null,"phone_numbers":[]},{"id":"11985","type":"event_participations","first_name":"Norbert","last_name":null,"nickname":null,"company_name":"Hochreutener","company":false,"email":null,"address":null,"zip_code":"3884","town":"Vernier","country":null,"gender":"m","birthday":"1948-04-17","picture":{"url":"/packs/media/images/profil-d4d04543c5d265981cecf6ce059f2c5d.png","thumb":{"url":"/packs/media/images/profil_thumb-20ef1de0fa7801546669f4df3411dc1b.png"}},"primary_group_id":56,"title":null,"salutation":null,"correspondence_language":null,"prefers_digital_correspondence":false,"kantonalverband_id":2,"roles":[{"type":"Event::Camp::Role::Participant","name":"Teilnehmer*in"}],"links":{"person":"1907","event_answers":["1312"]},"additional_information":"","active":true,"qualified":null,"phone_numbers":[]}],"linked":{"event_answers":[{"id":"1313","question":"Vegi?","answer":"Ja"},{"id":"1312","question":"Vegi?","answer":"Nein"}]},"links":{"event_participations.person":{"href":"https://pbs.puzzle.ch/de/people/{event_participations.person}.json","type":"people"}}}'
  recorded_at: Mon, 28 Dec 2020 14:43:54 GMT
recorded_with: VCR 6.0.0
