---
http_interactions:
- request:
    method: get
    uri: https://pbs.puzzle.ch/groups/3/events/1257/participations.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Token:
      - "<MIDATA_USER_TOKEN>"
      X-User-Email:
      - "<MIDATA_USER_EMAIL>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ad2cc2456906dc5ecc761ffda04af7f"
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"total_pages":0,"next_page_link":null,"prev_page_link":null,"event_participations":[]}'
  recorded_at: Sun, 22 May 2022 16:02:16 GMT
recorded_with: VCR 6.1.0
