$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$_yellow: #FFEB00;
$_orange: #E6500F;
$_blue: #55BEFF;

$primary:       $_yellow;
$secondary:     $_orange;
$link-color:    $_blue;
$body-bg: #f8f9fa;

//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-800;
