= render 'admin/check_out_checkpoint_units/form',
        checkpoint_unit: @checkpoint_unit,
        checkpoint: @checkpoint,
        form_url: admin_check_out_check_out_checkpoint_unit_path(@checkpoint, @checkpoint_unit),
        submit_text: t('buttons.confirm')

.mt-3.alert.alert-danger = t('checkpoints.edit_hint')
