.h1 = UnitActivityExecution.model_name.human(count: :other)

= render partial: 'table', locals: { unit_activity_executions: @unit_activity_executions, activity_execution_id: params[:activity_execution_id], unit_id: params[:unit_id] }
