---
http_interactions:
- request:
    method: post
    uri: https://limesurvey.bula21.ch/index.php/admin/remotecontrol
    body:
      encoding: UTF-8
      string: '{"method":"get_session_key","params":["Folletta","?F4A%,6Hd42o7&"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":1,"result":"rNSYqiFkC9XQFfLGoWu~oFuqnFiPQXLw","error":null}'
  recorded_at: Sat, 06 Jun 2020 16:18:14 GMT
- request:
    method: post
    uri: https://limesurvey.bula21.ch/index.php/admin/remotecontrol
    body:
      encoding: UTF-8
      string: '{"method":"add_participants","params":["rNSYqiFkC9XQFfLGoWu~oFuqnFiPQXLw","187799",[{"email":"newton_azra@hitobito.example.com","lastname":"Azra
        Newton","firstname":"Voluptate","language":"de-informal","attribute_1":223,"attribute_2":2}]],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":1,"result":[{"sent":"N","remindersent":"N","remindercount":0,"completed":"N","usesleft":1,"email":"newton_azra@hitobito.example.com","lastname":"Azra
        Newton","firstname":"Voluptate","language":"de-informal","attribute_1":"223","attribute_2":"2","token":"eO8nP6HpzguBgiv","emailstatus":"OK","tid":"147","participant_id":null,"blacklisted":null,"validfrom":null,"validuntil":null,"mpid":null}],"error":null}'
  recorded_at: Sat, 06 Jun 2020 16:18:14 GMT
- request:
    method: post
    uri: https://limesurvey.bula21.ch/index.php/admin/remotecontrol
    body:
      encoding: UTF-8
      string: '{"method":"invite_participants","params":["rNSYqiFkC9XQFfLGoWu~oFuqnFiPQXLw","187799"],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":1,"result":{"145":{"name":"Voluptate Azra Newton","email":"newton_azra@hitobito.example.com","status":"fail","error":"SMTP
        Error: The following recipients failed: newton_azra@hitobito.example.com:
        Recipient address reserved by RFC 2606\r\n"},"146":{"name":"Ut Mio Daudrich","email":"daudrich_mio@hitobito.example.com","status":"fail","error":"SMTP
        Error: The following recipients failed: daudrich_mio@hitobito.example.com:
        Recipient address reserved by RFC 2606\r\n"},"147":{"name":"Voluptate Azra
        Newton","email":"newton_azra@hitobito.example.com","status":"fail","error":"SMTP
        Error: The following recipients failed: newton_azra@hitobito.example.com:
        Recipient address reserved by RFC 2606\r\n"},"status":"0 left to send"},"error":null}'
  recorded_at: Sat, 06 Jun 2020 16:18:16 GMT
recorded_with: VCR 5.1.0
