= render 'admin/check_in_checkpoint_units/form',
        checkpoint_unit: @checkpoint_unit,
        checkpoint: @checkpoint,
        form_url: admin_check_in_check_in_checkpoint_units_path(@checkpoint, @checkpoint_unit),
        submit_text: t('buttons.create')
