.h1 = t('activity.index.title')

= link_to(t('buttons.create'), new_activity_path, class: 'btn btn-primary mb-3') if can?(:create, Activity)

= render partial: 'filter'

code= @activities.to_sql
= render partial: 'activity_listing', collection: @activities, as: :activity
