= favicon_pack_tag('favicon/apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180')
= favicon_pack_tag('favicon/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png')
= favicon_pack_tag('favicon/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png')
= favicon_pack_tag('favicon/safari-pinned-tab.svg', rel: 'mask-icon', color: '#5bbad5')
= favicon_pack_tag('favicon/favicon.ico', rel: 'shortcut icon')
meta content='mova 21' name='apple-mobile-web-app-title'
meta content='mova 21' name='application-name'
meta content='#ffffff' name='msapplication-TileColor'
meta content='#ffffff' name='theme-color'
